/* color pallete
  #222831
  #30475E
  #F05454
  #E8E8E8 */

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-family: Roboto;
}

html {
  background-image: url("https://i.imgur.com/t7QwXBX.jpeg");
  background-repeat: no-repeat;
  background-position: top;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  place-items: center;
  grid-template-rows: max-content 1fr 1fr 1fr 1fr;
  height: 100vh;
  padding: 1rem;
}

body {
  max-width: 765px;
  margin: 0;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-p {
  margin: 0.1rem;
  color: white;
}

progress {
  /* border: 1px solid #00000020; */
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
}
progress::-webkit-progress-bar {
  background-color: #30475e;
  background: rgba(48, 71, 94, 0.5);
}
progress::-webkit-progress-value {
  background-color: #f05454;
  box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8);
}

.counter {
  /* width: 15rem; */
  color: white;
  border-radius: 1rem;
  margin: 1rem 0rem;
  padding: 0.5rem;
  background: rgba(48, 71, 94, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 35, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.store {
  height: 10rem;
  overflow: auto;
  padding: 1rem;
  background: rgba(48, 71, 94, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 35, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.main-clicker {
  border: none;
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  margin: 0;
}

.btn {
  background-color: #060618;
  color: white;
  border: none;
  border-radius: 3px;
  height: 3.5rem;
  width: 14rem;
  margin: 0.25rem;
  box-shadow: 2px 2px 4px #00000030;
  font-weight: bold;
  font-family: Roboto;
}

.achievements {
  height: 10rem;
  margin: 1rem 0rem;
  overflow: auto;
  padding: 1rem;
  background: rgba(48, 71, 94, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 35, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.achievements > * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.achievements-off {
  /* background-color: #000; */
  opacity: 0.6;
}

.animated-btn {
  position: absolute;
  top: 15%;
  left: -20%;
  overflow: hidden;
}

.animated-btn-moving {
  position: absolute;
  left: 120%;
  transition: left 10s;
  transition-timing-function: linear;
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  html {
    background-size: 150%;
    display: flex;
    justify-content: center;
  }
}
